{% extends "base.html" %}


{% block content %}
    {% block title %}<title>Triangle</title>{% endblock %}
    <a href="" style="color: black"><h3>Расчёт гипотенузы</h3></a>
    <form action="" method="post">
        {% if gip %}
            <strong><p align="top">Сумма гипотенузы равна: {{ gip }}</p></strong>
            <div id="back">
                <input type="button" onclick="history.back();" value="Назад"/>
            </div>
        {% else %}
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mid">
                <button type="submit">Посчитать</button>
            </div>
        {% endif %}

{% endblock %}